@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/NotoSansJP-Regular.otf') format('opentype');
}